
@{
    ViewBag.Title = "DateCheck";
}


<div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
</div>
<h2>DateCheck</h2>

<p>
    @using (Html.BeginForm("SaleReport", "Report", FormMethod.Get))
    {
        <label>From</label>
        <input type="date" name="start" />
        <label>To</label>
        <input type="date" name="end" />
        <input type="submit" name="submit" />

    }
</p>

@if (ViewBag.DateError != null)
{
        <script>

$(document).ready(function(){

alert('@ViewBag.DateError');

});

        </script>

    }

