
@{
    ViewBag.Title = "Message";
}
    <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">

    </div>
    <div class="container" style="margin-top:20px;margin-left:300px">
        <h2>Successfully Added</h2>

        <a href="@Url.Action("Create","Products")" class="btn-default">
            
            <span>Add New Product</span>
        </a>
    </div>

